doctype html
html
    head
        title Chankya IAS Acadmey
        block scripts
        block style

    body
        nav#navbar
                ul    
                    img(src = "../static/logo2.png")
                    li #[a(href = "/") Home]
                    li #[a(href = "/") About Us]
                    li #[a(href = "/") Batch info]
                    li #[a(href = "/") Curriculam]
                    li #[a(href = "/") Fees Structure]
                    li #[a(href = "/contact") Contact US]

        block content

        footer#footer 
            |   Copyright 2019  &#169 Chanakyaiasaccadmey.com | All Rights Reserved