* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

nav {
    
    background: url("../static/t1.jpg") no-repeat center center/cover;
}

#navbar ul {
    display: flex;



}

nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Caveat', cursive;
    color: black;

}

nav ul li {
    list-style: none;
    padding: 4px 8px;
    margin: 45px 10px;
    border: 1px solid #e9463b;
    border-radius: 15px;
}

nav ul li:hover {
    background-color: rgb(108, 231, 127);
    cursor: pointer;
}

/* logo */
ul img{
    height: 126px;
    width: 142px;
    margin: 0px 45px;
}






/* nav {} */

#introSection {
    height: 680px;
    width: 100%;
    font-family: 'Caveat', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#introSection::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 680px;
    background: url("../static/bg.jpg") no-repeat center center/cover;
    z-index: -1;
    opacity: 0.85;
}
#introSection #heading{
    color :  purple;
    background: rgba(252, 230, 245, 0.632);
    border-radius: 20px;
    padding: 3px 7px;
    font-size: 1.7rem;
    margin-top: 45px; 
    
}


#heading div{
    color: rgb(255, 8, 0);
}

/* mission section */

#ourmissionSection
{
    height: 400px;
}


#ourmissionSection::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 400px;
    background: url(../static/a3.jpg) no-repeat center center/cover;
    z-index: -1;
    opacity: 0.9;

}


#ourmissionSection h2{
    text-align: center;
    height: 80px;
    font-size: 35px;
    color: black;
    padding: 10px 1px;
    font-family: 'Caveat', cursive;
    


    
}
.card div{
    height: 270px;
    width: 400px;
    display: inline-block;
    border : 2px solid red;
    margin: 1px 52px;
    border-radius: 15px;
    text-align: center;
    font-size: 30px;
    color: #0e20be;
    font-weight: bold;
    background-color: rgba(186, 241, 186, 0.677);

}
.card div p
{
    margin-top: 55px;
    font-weight: bold;
    font-size: 20px;
    color: #0a0a02;
    font-family: 'Caveat', cursive;
}







/* sponsar section */


#sponsarSection {
    height: 370px;
    background-color: rgba(127, 255, 212, 0.486);
}


#sponsarSection h2
{
    text-align: center;
    font-size: 35px;
    padding-top: 15px;
    font-family: 'Caveat', cursive;

}

#sponsers img 
{
    height: 140px;
    width: 170px;
    margin: 15px 30px;
} 
#sponsers
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px ;


}




#footer {
    height: 50px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.445);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 19px;
    font-weight: bold;



}

